[Unit]
Description=gps Service
After=multi-user.target

[Service]
Type=simple
ExecStart=gps /home/pi/
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=GPS
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target

