[Unit]
Description=Show Picture Service
After=multi-user.target

[Service]
Type=simple
Environment="DEBUG=false"
ExecStart=/usr/bin/show_picture
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=show-picture
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
